<!DOCTYPE html>
<html>
<head>
    <title>Change password</title>
</head>
  <body>
    <form method="post">
    {% csrf_token %}
      <table border="1">
        <tr>
            <td>Old password</td>
            <td><input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="txtoldpassword"></td>
        </tr>
        
        <tr>
            <td>New password</td>
            <td><input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="txtnewpassword"></td>
        </tr>

        <tr>
            <td>Confirm password</td>
            <td><input required type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="txtconfirmpassword"></td>
        </tr>
    
        <tr>
            <td colspan="2" align="center"><input type="submit" name="btnsubmit" value="Submit"></td>
        </tr>
      </table>
    </form>
  </body>
</html>
{% if msg1 %}
<script>
  alert("{{msg1}}")
  window.location="{% url 'User:Myprofile' %}"
</script>
{% endif %}
{% if msg %}
<script>
  alert("{{msg}}")
</script>
{% endif %}