<!DOCTYPE html>
<html>
<head>
    <title>User Complaint</title>
</head>
<body>
    <form method="post">
    {% csrf_token %} 
    <table border="1">
        <tr>
            <td>Title</td>
            <td><input required type="text" name="txttitle" pattern="^[A-Za-z\s]+$"></td>
        </tr>

        <tr>
            <td>Content</td>
            <td>
                <textarea required name="txtcontent"  rows="2" cols="20"></textarea>
            </td>
        </tr>

        <tr>
            <td colspan="2" align="center">
                <input type="submit" name="btnsubmit" value="Submit">
            </td>
        </tr>
    </table>
    <br>
    <table border="1">
        <tr>
            <td>SL No</td>
            <td>Title</td>
            <td>Content</td>
            <td>Reply</td>
            <td>Date</td>
        </tr>
        {% for i in comp %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.comp_title}}</td>
            <td>{{i.comp_content}}</td>
            <td>{{i.comp_reply}}</td>
            <td>{{i.comp_date}}</td>
        </tr>
        {% endfor %}
    </table>
    </form>
</body>
</html>