<!DOCTYPE html>
<html>
<head>
    <title>View Complaints</title>
</head>
  <body>
    <h1>Complaints</h1>
    <form method="post">
    {% csrf_token %} 
    <table border="1">
        <tr>
            <td>SL No</td>
            <td>Title</td>
            <td>Content</td>
            <td>Username</td>
            <td>Contact</td>
            <td>Date</td>
            <td>Action</td> 
        </tr>
    {% for i in comp %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.comp_title}}</td>
            <td>{{i.comp_content}}</td>
            <td>{{i.user.user_name}}</td>
            <td>{{i.user.user_contact}}</td>
            <td>{{i.comp_date}}</td>   
            <td>{% if i.comp_status == 1 %}
                Replied
                {% else %}
                <a href="{% url 'Admin:Reply' i.id %}">Reply</a></td>
                {% endif %}
        </tr>
    {% endfor %}
    </form>
  </body> 
</html>