<!DOCTYPE html>
<html>
<head>
    <title>User Tool Details</title>
</head>
  <body>
    <h1>User tools listed</h1>
    <form method="post">
    {% csrf_token %} 
    <table border="1">
        <tr>
            <td>SL No</td>
            <td>Tool name</td>
            <td>Tool details</td>
            <td>Tool price per day</td>
            <td>Category</td>
        </tr>
        {% for i in utool %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.tool_name}}</td>
            <td>{{i.tool_details}}</td>
            <td>{{i.tool_priceperday}}</td>
            <td>{{i.category.category_name}}</td>       
        </tr>
        {% endfor %}
    </table>
    <br>
    <h1>Tools rented</h1>
    <table border="1">
        <tr>
            <td>SL No</td>
            <td>Tool name</td>
            <td>Tool details</td>
            <td>Tool price per day</td>
            <td>Rented From</td>
            <td>Category</td>
        </tr>
        {% for i in urent %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.tool.tool_name}}</td>
            <td>{{i.tool.tool_details}}</td>
            <td>{{i.tool.tool_priceperday}}</td>
            <td>{{i.tool.user.user_name}}</td>
            <td>{{i.tool.category.category_name}}</td>       
        </tr>
        {% endfor %}
    </table>
    <br>
    <h1>Tools given for rent</h1>
    <table border="1">
            <tr>
                <td>SL No</td>
                <td>Tool name</td>
                <td>Tool details</td>
                <td>Tool price per day</td>
                <td>Rented By</td>
                <td>Category</td>
            </tr>
            {% for i in urental %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.tool.tool_name}}</td>
                <td>{{i.tool.tool_details}}</td>
                <td>{{i.tool.tool_priceperday}}</td>
                <td>{{i.user.user_name}}</td>
                <td>{{i.tool.category.category_name}}</td>       
            </tr>
            {% endfor %}
    </table>
    </form>
  </body> 
</html>